{% extends 'base.html.twig' %}

{% block title %}Luxury Offer{% endblock %}

{% block body %}

<div class="base">

    <!-- Page -->
    <div class="page">

        <!-- Page Header-->
        <section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="white-text">{{job.title}}</h2>
                        <span class="white-text">Ref. AA{{ job.id }}</span>
                        <ol class="breadcrumb">
                            <li>
                                <div class="portfolio-nav">
                                    <a href="#!" class="waves-effect waves-dark"><i class="fa fa-angle-left" aria-hidden="true"></i> Prev</a>
                                    <a href="#!" class="waves-effect waves-dark"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                                    <a href="#!" class="waves-effect waves-dark">Next <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <!-- Page Content-->
        <section class="single-project-section section-padding light-gray-bg">
            <div class="container">
                <div class="project-overview">
                    <div class="row mb-80">
                        <div class="col-xs-12 col-md-8">
                            <p class="ref grey-text no-margin">Ref. AA{{ job.id }}</p>
                            <h2>{{ job.title }}</h2>
                            <p>{{ job.description }}</p>
                        </div>

                        <div class="col-xs-12 col-md-4 quick-overview">
                            <ul class="portfolio-meta">
                                <li><span> Pulished at </span>{{ job.creationDate|date('d M y') }}</li>
                                <li><span> Position </span>{{job.jobCategory.name}}</li>
                                <li><span> Contract Type </span>{{job.type}}</li>
                                <li><span> Salary </span>{{job.salary}} &euro;</li>
                                <li><span> Location </span>{{job.location}}</li>
                                <li><span> Starting date </span>2018-05-18</li>
                            </ul>
                            {% if allreadyApply < 1 %}
                                {% if candidate %} 
                                    {% if candidate.completeProfile %} 
                                    <a class='btn btn-block gradient primary mt-30 waves-effect waves-light' href='{{ path('app_job_offer_applicationRegister', {'id': job.id}) }}'>Apply for this job</a>
                                    {% else %}
                                    <a class='btn btn-block gradient red mt-30 waves-effect waves-light' href='{{ path('app_candidate_new', {'id': app.user.id}) }}'>Complete your profile to apply</a>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <div class="btn btn-block btn-success mt-30 waves-effect waves-light disabled">You have applied for this job</div>
                            {% endif %}
                            
                            
                        </div>
                    </div>
                </div>

                <nav class="single-post-navigation no-margin" role="navigation">
                    <div class="row">

                        {% if previousEntity %}
                        <div class="col-xs-6 col-sm-6 col-md-4">
                            <div class="previous-post-link">
                                <a class="btn border primary waves-effect waves-dark" href="{{ path('app_job_offer_show', {'id': previousEntity.id}) }}">
                                    <i class="fa fa-long-arrow-left"></i>Previous
                                </a>
                            </div>
                        </div>
                        <div class="hidden-xs hidden-sm col-md-4"></div>
                        {% endif %}

                        {% if nextEntity %}
                        <div class="col-xs-6 col-sm-6 col-md-4">
                            <div class="next-post-link">
                                <a class="btn border primary waves-effect waves-dark" href="{{ path('app_job_offer_show', {'id': nextEntity.id}) }}">
                                    Next <i class="fa fa-long-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        {% endif %}

                    </div>
                </nav>
            </div>
        </section>

    </div>

</div>

	{% block js %}
	<script type="text/javascript">

		onAppReady(function () {
			$('.preload').remove();
		});
	</script>
	{% endblock %}

{% endblock %}