{% extends 'baseAdmin.html.twig' %}

{% block title %}Admin index{% endblock %}

{% block body %}
<div style="height:100px"></div>
<h1>Admin index</h1>

<div id="lastClients" style="margin-top: 50px;">
	<h2>Lasts 5 Clients of {{ clients|length }}</h2>

	<table class="table">
		<thead>
			<tr>
				<th>Society Name</th>
				<th>Contact Name</th>
				<th>Contact Email</th>
				<th>Contact Phone</th>
				<th>Creation Date</th>
			</tr>
		</thead>
		<tbody>
			{% for client in clients|slice(0,5) %}
			<tr>
				<td>{{ client.societyName }}</td>
				<td>{{ client.contactName }}</td>
				<td><a href="mailto:{{ client.contactEmail }}" target="_blank">{{ client.contactEmail }}</a></td>
				<td>{{ client.contactNumber }}</td>
				<td>{{ client.creationDate|date('Y-m-d') }}</td>
			</tr>
			{% else %}
			<tr>
				<td colspan="2">no records found</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{path('app_client_index')}}"><button>See all clients</button></a>
</div>

<div id="lastCandidates" style="margin-top: 50px;">
	<h2>Lasts 5 Candidates of {{ candidates|length }}</h2>

	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>City</th>
				<th>Job Category</th>
				<th>Availability</th>
				<th>Inscription Date</th>
			</tr>
		</thead>
		<tbody>
			{% for candidate in candidates|slice(0,5) %}
			<tr>
				<td>{{ candidate.lastname ? candidate.lastname : '' }} {{ candidate.firstname ? candidate.firstname : '' }}</td>
				<td><a href="mailto:{{ candidate.user.email ? candidate.user.email : '' }}" target="_blank">{{ candidate.user.email ? candidate.user.email : '' }}</a></td>
				<td>{{ candidate.currentLocation ? candidate.currentLocation : '' }}</td>
				<td>{{ candidate.jobCategoryId ? candidate.jobCategoryId.name : '' }}</td>
				<td>{{ candidate.availability ? 'yes' : 'no' }}</td>
				<td>{{ candidate.createdAt ? candidate.createdAt|date('Y-m-d') : '' }}</td>
			</tr>
			{% else %}
			<tr>
				<td colspan="2">no records found</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{path('app_candidate_index')}}"><button>See all Candidates</button></a>
</div>

<div id="lastOffers" style="margin-top: 50px;">
	<h2>Lasts 5 Offers of {{ jobs|length }}</h2>

	<table class="table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Society</th>
				<th>Contact Name</th>
				<th>Contact Email</th>
				<th>Contact Phone</th>
				<th>Status</th>
				<th>Creation Date</th>
				<th>Closing Date</th>
			</tr>
		</thead>
		<tbody>
			{% for job in jobs|slice(0,5) %}
			<tr>
				<td>{{ job.title }}</td>
				<td>{{ job.client.societyName }}</td>
				<td>{{ job.client.contactName }}</td>
				<td><a href="mailto:{{ job.client.contactEmail }}" target="_blank">{{ job.client.contactEmail }}</a></td>
				<td>{{ job.client.contactNumber }}</td>
				<td>{{ job.activity ? 'Active' : 'Inactive' }}</td>
				<td>{{ job.creationDate|date('Y-m-d') }}</td>
				<td>{{ job.closingDate|date('Y-m-d') }}</td>
			</tr>
			{% else %}
			<tr>
				<td colspan="2">no records found</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{path('app_admin_job_offer_index')}}"><button>See all Offers</button></a>
</div>

<div id="lastApplications" style="margin-top: 50px;">
	<h2>Lasts 5 Applications of {{ applications|length }}</h2>

	<table class="table">
		<thead>
			<tr>
				<th>Candidate Name</th>
				<th>Candidate Email</th>
				<th>Offer Title</th>
				<th>Society Name</th>
				<th>Contact Name</th>
				<th>Contact Email</th>
				<th>Application Date</th>
			</tr>
		</thead>
		<tbody>
			{% for application in applications|slice(0,5) %}
			<tr>
				<td>{{ application.candidateId.firstname }} {{ application.candidateId.lastname }}</td>
				<td><a href="mailto:{{ application.candidateId.user.email }}" target="_blank">{{ application.candidateId.user.email }}</a></td>
				<td>{{ application.jobOffer.title }}</td>
				<td>{{ application.jobOffer.client.societyName }}</td>
				<td>{{ application.jobOffer.client.contactName }}</td>
				<td>{{ application.jobOffer.client.contactEmail }}</td>
				<td>{{ application.createdAt|date('Y-m-d') }}</td>
			</tr>
			{% else %}
			<tr>
				<td colspan="2">no records found</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{path('app_admin_job_applications_index')}}"><button>See all Applications</button></a>
</div>

{% endblock %}